*{
  box-sizing: border-box;
  margin: 0 ;
  font-family: sans-serif;
  text-align: center;
}
.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  
}
input{
  width: 300px;
  height: 32px;
  border-radius: 32px;
  background-color: rgb(232, 235, 235);
}
input::after{
  content: '';
}
